# ignore extensions
*.csv
*.gif
*.ipynb
*.jpg
*.log
*.npy
*.pdf
*.png
*.pt
*.txt
*.xlsx

# ignore directories
__pycache__/
checkpoints/
data/
experiments/
log/
practice/
processed_data/
save/
temp/
test_results/
